extends ../layout/layout

block title
  title Search: #{query} - #{appName}

block content

  .section.page-title
      h1 Search: #{query}

  .section.search-results
    table.table.table-hover
      tbody
        for post in posts
          tr
            td
              .t
                h4
                  a(href='/posts/' + post.thread._id + '#' + post._id) #{post.thread.title}
              .tx #{post.text}
              .i
                span #{post.category.name}
                span #{post.writer}
                span.d !{post.cdateStr}
        else
          tr
            td.t 검색 결과가 없습니다.
            td

    .commands
      .left
        if prev
          a.btn.btn-default(href=prev): span.glyphicon.glyphicon-chevron-left
        else
          button.btn.btn-default(disabled=true): span.glyphicon.glyphicon-chevron-left
      .left
        if next
          a.btn.btn-default(href=next): span.glyphicon.glyphicon-chevron-right
        else
          button.btn.btn-default(disabled=true): span.glyphicon.glyphicon-chevron-right
      .right
        form.form-inline(method='get', action='/posts/search')
          .form-group
            input.form-control(type='text', name='q', style='width:240px', placeholder='Search')
