extends ../layout/layout

block head-opt
  title #{category.name} - #{appName}

block content

  script.
    $(function () {
      postl.initList();
    });

  .section.page-title
      h1 #{category.name}

  .section.threads
    table.table.table-hover.visible-sm.visible-md.visible-lg
      tbody
        for thread in threads
          tr
            td.t
              a.text-muted(href='/posts/' + thread.id)
                | #{thread.title}
                if thread.length > 1
                  | &nbsp;&nbsp;[!{thread.length - 1}]
            if category.id === 0
              td
                a(href='/posts?c=' + thread.category.id) #{thread.category.name}
            td #{thread.writer}
            td !{thread.hit}
            td.d !{thread.udateStr}
        else
          tr
            td.t 표시할 내용이 없습니다.
            td


    table.table.table-hover.visible-xs
      tbody
        for thread in threads
          tr
            td
              .t
                a.text-muted(href='/posts/' + thread.id)
                  | #{thread.title}
                  if thread.length > 1
                    | &nbsp;&nbsp;[!{thread.length - 1}]
              div
                small #{thread.writer}
                small !{thread.hit}
                small.d !{thread.udateStr}
                if category.id === 0
                  small
                    a(href='/posts?c=' + thread.category.id) #{thread.category.name}
        else
          tr
            td.t 표시할 내용이 없습니다.
            td

    .commands
      .left
        if prev
          a.btn.btn-default(href=prev): span.glyphicon.glyphicon-chevron-left
        else
          button.btn.btn-default(disabled=true): span.glyphicon.glyphicon-chevron-left
      .left
        if next
          a.btn.btn-default(href=next): span.glyphicon.glyphicon-chevron-right
        else
          button.btn.btn-default(disabled=true): span.glyphicon.glyphicon-chevron-right
      .right
        a.btn.btn-default(href='/posts/new') New
      .right
        form.form-inline(method='get', action='/posts/search')
          .form-group
            input.form-control(type='text', name='q', style='width:240px', placeholder='Search')
