extends ../layout/layout

block title
  title Edit Post - #{appName}

block content

  script.
    $(function () {
      postl.initUpdate();
    });

  .section.page-title
    h1 Edit Post

  .section
    form.main
      .sub-section
        if post.head
          .form-group
            select.form-control.short(name='cid')
              for c in user.categories
                option(value=c.id, selected=c.id==category.id) #{c.name}
        .form-group
          label.control-label 이름
          input.form-control.short(type='text', name='writer', value=post.writer, maxlength='32')
        if post.head
          .form-group
            label.control-label 제목
            input.form-control(type='text', name='title', value=thread.title, maxlength='128')
        .form-group
          label.control-label 내용
          textarea.form-control(name='text', rows=13) #{post.text}
        .form-group
          label.control-label 첨부
          input.form-control(type='file', name='files', multiple='multiple')
          button.btn.btn-default.btn-mini.add-file +
        if post.files
          .form-group
            for file in post.files
              .checkbox
                label 
                  input(type='checkbox', name='dfiles', value=file.name)
                  | delete #{file.name}
        if user.admin
          .form-group
            .checkbox
              label
                input(type='checkbox', name='visible', checked=post.visible)
                | visible
      .sub-section
        button.btn.btn-primary(name='send', data-loading-text='Sending') Send
