extends layout

block title
	title Search: #{query} - #{siteTitle}

block content

	.side-space
		.page-header
			h2 Search: #{query}

	.side-space-table
		table.table.table-hover.search-results
			tbody
				for post in posts
					tr
						td
							.t
								h4
									a(href="/threads/" + post.thread._id + '#' + post._id) #{post.thread.title}
							.tx #{post.text}
							.i
								span #{post.category.name}
								span #{post.writer}
								span.d !{post.cdateStr}
				else
					tr
						td.t 검색 결과가 없습니다.
						td

	.side-space
		include pager