extends layout

block title
	title Edit Post - #{siteTitle}

block content

	script
		init.add(function () {
			post.initEditForm();
		});

	.container
		.col-lg-12
			.page-header
				h2 Edit Post

			form#edit-form(action='/api/threads/' + thread._id + '/' + post._id, method='post', enctype='multipart/form-data')
				if post.head
					.form-row
						select.col-lg-4(name='cid')
							for c in user.categoriesOrdered
								option(value=c.id, selected=c.id==category.id) #{c.name}
				.form-row
					label.control-label 필명
					input.input-with-feedback.col-lg-4(type='text', name='writer', value=post.writer, maxlength='32')
				if post.head
					.form-row
						label.control-label 제목
						input.input-with-feedback.col-lg-12(type='text', name='title', value=thread.title, maxlength='128')
				.form-row
					label.control-label 내용
					textarea.input-with-feedback(name='text', rows=13) #{post.text}
				.form-row.file-group.clearfix
					.files.col.col-lg-7
					.actions.col.col-lg-1
						button.btn.glyphicon.glyphicon-plus
				if post.files
					.form-row
						for file in post.files
							.checkbox
								label delete #{file.name}
									input(type='checkbox', name='delFiles', value=file.name)
				.form-action
					button.btn.btn-primary(type='submit', name='send') Send
					button.btn.disabled.hide(type='button', name='sending')

//
//								<% if (authService.isAdmin()) { %>
//						<div class='label'>기타<div>
//						<div class='input'><form:checkbox path='post.visible' label='Visible'/></div>
//					<% } %>
//					<div class='submit'><input class='submit' type='submit' value='Submit'/></div>
//				</form:form>
