extends layout

block title
	title #{category.name} - #{siteTitle}

block content

	script
		init.add(function () {
			post.initThreadList();
		});

	.side-space
		.page-header
			h2 #{category.name}

	.side-space-table
		table.threads.threads-lg.table.table-hover.hidden-sm
			tbody
				for thread in threads
					tr
						td.t
							a.text-muted(href="/threads/" + thread._id)
								span #{thread.title}
								if thread.length > 1
									| &nbsp;&nbsp;[!{thread.length - 1}]
						if category.id == 0
							td
								a(href="/threads?c=" + thread.category.id) #{thread.category.name}
						td #{thread.writer}
						td !{thread.hit}
						td.d !{thread.udateStr}
				else
					tr
						td.t 표시할 내용이 없습니다.
						td


		table.threads.threads-sm.table.table-hover.visible-sm
			tbody
				for thread in threads
					tr
						td
							.t
								a.text-muted(href="/threads/" + thread._id)
									span #{thread.title}
									if thread.length > 1
										| &nbsp;&nbsp;[!{thread.length - 1}]
							div
								small #{thread.writer}
								small !{thread.hit}
								small.d !{thread.udateStr}
								if category.id === 0
									small
										a(href="/threads?c=" + thread.category.id) #{thread.category.name}
				else
					tr
						td.t 표시할 내용이 없습니다.
						td

	.side-space
		ul.pager
			if locals.prevUrl
				li
					a(href=prevUrl) Previous
			else
				li.disabled
					a(href='javascript:void(0)') Previous
			if locals.nextUrl
				li
					a(href=nextUrl) Next
			else
				li.disabled
					a(href='javascript:void(0)') Next
