extends layout

block title
	title #{category.name} - #{siteTitle}

block content

	script
		init.add(function () {
			post.initThreadList();
		});

	.side-space
		.page-header
			h2 #{category.name}

	.side-space-table
		table.table.table-hover.hidden-sm.threads.threads-lg
			tbody
				for thread in threads
					tr
						td.t
							a.text-muted(href="/threads/" + thread._id)
								span #{thread.title}
								if thread.length > 1
									| &nbsp;&nbsp;[!{thread.length - 1}]
						if category.id == 0
							td
								a(href="/threads?c=" + thread.category.id) #{thread.category.name}
						td #{thread.writer}
						td !{thread.hit}
						td.d !{thread.udateStr}
				else
					tr
						td.t 표시할 내용이 없습니다.
						td


		table.table.table-hover.visible-sm.threads.threads-sm
			tbody
				for thread in threads
					tr
						td
							.t
								a.text-muted(href="/threads/" + thread._id)
									span #{thread.title}
									if thread.length > 1
										| &nbsp;&nbsp;[!{thread.length - 1}]
							div
								small #{thread.writer}
								small !{thread.hit}
								small.d !{thread.udateStr}
								if category.id === 0
									small
										a(href="/threads?c=" + thread.category.id) #{thread.category.name}
				else
					tr
						td.t 표시할 내용이 없습니다.
						td
	.side-space
		include pager