extends layout

block title
	title #{category.name} - #{siteTitle}

block content

	- var categories = role.categories

	.page-header
		h2 #{category.name}

	#content
		table#threads.table.table-hover.hidden-phone.threads
			tbody
				for thread in threads
					tr
						td.t
							a(href="/threads/" + thread.id)
								span #{thread.title}
								if thread.reply
									| [!{thread.reply}]
						if category.id === 0
							td
								a(href="/threads?c=" + thread.category.id) #{categories[thread.category.id].name}
						td #{thread.writer}
						td !{thread.hit}
						td !{thread.updatedStr}
				else
					tr
						td.t 표시할 내용이 없습니다.
						td


		table#threads-phone.table.table-hover.visible-phone.threads-phone
			tbody
				for thread in threads
					tr
						td
							a(href="/threads/" + thread.id)
								span #{thread.title}
								if thread.reply
									| [!{thread.reply}]
							div
								if category.id === 0
									small
										a(href="/threads?c=" + thread.category.id) #{categories[thread.category.id].name}
								small #{thread.writer}
								small !{thread.updatedStr}
				else
					tr
						td.t 표시할 내용이 없습니다.
						td

		ul.pager(style='text-align: left;')
			if locals.prevUrl
				li
					a(href=prevUrl) Previous
			else
				li.disabled
					a(href='javascript:void(0)') Previous
			if locals.nextUrl
				li
					a(href=nextUrl) Next
			else
				li.disabled
					a(href='javascript:void(0)') Next
